
<div layout:decorator="layout">
    <div layout:fragment="content">
      <div class="login_container">
          <div class="login_sign_in">
              <div class="login_sign_in_title">登录 <span>SIGN IN</span></div>
              <div class="login_sign_in_content">
                  <form novalidate="novalidate" class="login-form">
                      <div class="account_number">
                          <i class="xy-icon xy-account input_icon"></i>
                          <input type="text" id="username_temp" class="login_input login_sign_in_account_number" placeholder="请输入账号">
                      </div>
                      <div class="password">
                          <i class="xy-icon xy-password input_icon"></i>
                          <input type="password" id="password" class="login_input login_sign_in_password" placeholder="请输入密码">
                      </div>
                      <div class="system_selection">

                      </div>
                      <button type="button" id="btn_sign_in" class="btn btn_sign_in" style="margin-top:20px;">登录</button>
                  </form>
              </div>
          </div>
      </div>
    </div>
</div>
