<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">CAS &#8211; Central Authentication Service</title> -->
    <title>layout</title>
    <!--/* Core CAS CSS */-->
    <!-- <link rel="stylesheet" href="../static/css/cas.css" th:href="@{${#themes.code('cas.standard.css.file')}}"/>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <script th:src="@{${#themes.code('cas.javascript.file')}}"></script> -->
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content2" id="content">
        CAS2 content will go here
    </div>
</main>
</body>
</html>
