<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Login Form Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>
<body>

<main role="main" class="container mt-3 mb-3" >

    <div class="row">
        <div class="col-md">
            <!-- Login form template begins here -->
            <div th:fragment="loginform" class="card">
              loginform
            </div>
        </div>
    </div>
</main>
</body>
</html>
