<div class="content_tabs">
    <button class="tabs_ctrl tabs_prev disabled" title="上一页标签页">
        <i class="xy-icon xy-shuttle-left"></i>
    </button>
    <div class="tabs_list_wrapper">
        <div class="tabs_list"></div>
    </div>
    <button class="tabs_ctrl tabs_next disabled" title="下一页标签页">
        <i class="xy-icon xy-shuttle-right"></i>
    </button>
    <div class="tabs_ctrl tabs_dropdown dropdown_wrapper">
        <i class="xy-icon xy-down"></i>
        <ul class="dropdown auto">
            <li class="locate_current">定位当前选项卡</li>
            <li class="refresh_current">刷新当前选项卡</li>
            <li class="divider"></li>
            <li class="closs_other">关闭其他选项卡</li>
            <li class="close_all">关闭所有选项卡</li>
        </ul>
    </div>
    <div class="tab_favorite">
      <i class="fa fa-star-o favShow" title="添加到收藏夹"></i>
      <i class="fa fa-star" title="删除收藏"></i>
    </div>
</div>
<div class="content_main"></div>
