<!-- header start -->
<div class="index_header">
    <!-- logo start -->
    <div class="index_header_logo">
        <div class="dropdown_wrapper app_title" id="headerApplication"></div>
        <div class="submenu_toggler" title="折叠左侧栏">
            <span></span>
        </div>
    </div>
    <!-- //logo end -->
    <!-- menu start -->
    <div class="index_header_menu" id="headerMenu"></div>
    <!-- //menu end -->
    <!-- tool start -->
    <div class="index_header_tool" id="headerToolbar"></div>
    <!-- //tool end -->
</div>
<!-- //header end -->
<!-- container start -->
<div class="index_container">
    <div class="index_broadside_wrapper" id="broadsideMenu"></div>
    <div class="index_content_wrapper" id="scene"></div>
</div>
<!-- //container end -->
