<!-- message start -->
<div class="index_notice">
    <div class="nt-header">
        <em role="fold"> &gt;</em>
        <span>消息通知</span>
        <span>
            <i class="fa fa-gear" role="setting"></i>
            <i class="fa fa-close" role="close"></i>
        </span>
    </div>
    <div class="nt-left-right">
        <div class="nt-left">
            <div class="nt-setting"></div>
            <div class="nt-summary"></div>
        </div>
        <div class="nt-right">
            <div class="nt-content">
                <h3>
                    <span><!-- 法人与中登股份可用余额核对提醒 --></span>
                    <em><!-- 发布时间： 16:59:59 --></em>
                </h3>
                <div class="nt-content-info">
                    <!-- <p>20190311法人与中登股份可用余额核对情况：股东账户9667128812，证券代码“09456111”持仓可用（法人）余额：1345、持仓可用（中登）份额：7891</p> -->
                </div>
                <div class="nt-attachment">
                    <ul>
                        <!-- <li><a href="javascript:void(0)">附件金额明细清单.doc</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index_notice_shadow"></div>
<!-- //message end -->