<div class="nt-filter">
    <div class="esys-action-grid">
        <div class="col">
            <div class="btn-group status-group" data-toggle="buttons">
                <label class="btn btn-outline btn-group-first btn-left active" role="all">
                    <input type="radio" name="status-option">全部 <span>380</span>
                </label>
                <label class="btn btn-outline btn-group-middle btn-center" role="disread">
                    <input type="radio" name="status-option">未读 <span>190</span>
                </label>
                <label class="btn btn-outline btn-group-last btn-right btn-group-last-other" role="hasread">
                    <input type="radio" name="status-option">已读 <span>190</span>
                </label>
            </div>
        </div>
        <div class="col">
            <!-- 搜索 组件 -->
            <div class="esys-search">
                <dl>
                    <dt>
                        <input type="text" class="form-control xyz_validate_input">
                        <i class="fa fa-search"></i>
                    </dt>
                </dl>
            </div>
            <!-- //搜索 组件 -->
        </div>
        <div class="col last" role="contrl">
            <span class="full-view"><a href="javascript:void(0)">全部标记已读</a></span>
        </div>
    </div>
</div>
<div class="nt-list">
    <ul>
        <!--
        <li>
            <h3>
                <i></i>
                <span>上海中登RTGS业务提醒</span>
                <em>今天 16:00</em>
            </h3>
            <p>20190311上海中登RTGS业务不执行提醒</p>
            <i class="xy-icon xy-view" title="标为已读"></i>
        </li>
        -->
    </ul>
</div>