<ul class="tool_list">
    <li class="favorite" id="header_favorite">
        <a href="javascript:void(0)">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star favShow"></i>
        </a>
    </li>
    <li class="message" id="header_message">
        <a href="javascript:void(0)" class="hover">
            <i class="xy-icon xy-info tool_i"></i>
            <span id="header_number">0</span>
        </a>
    </li>
    <li class="dropdown_wrapper profile" id="header_profile">
        <a href="javascript:void(0)" class="hover">
            <i class="xy-icon xy-account tool_i"></i>
            <span id="header_userName">系统管理员</span>
        </a>
        <ul class="dropdown auto profile_dropdown">
            <li id="header_gainProfileBtn">
                <i class="xy-icon xy-chuliren"></i>个人信息
            </li>
            <li id="header_changePasswordBtn">
                <i class="xy-icon xy-Enclosure"></i>修改密码
            </li>
            <li id="header_PortSettingBtn">
                <i class="xy-icon xy-instructset"></i>首页配置
            </li>
            <li class="divider"></li>
            <li id="header_logoutBtn">
                <i class="xy-icon xy-processexit"></i>安全退出
            </li>
        </ul>
    </li>
    <li>
        <a class="theme blue" href="javascript:void(0)"></a>
    </li>
    <li>
        <a class="theme orange" href="javascript:void(0)"></a>
    </li>
</ul>
