<div class="layout_wrap">
    <form id="form" class="shine_form edit password-form-wrap">
        <div class="title_btn_group">
            <button type="button" class="btn btn-save pull-right hide_btn" id="saveBtn"><i class="fa fa-save"></i> 保存</button>
            <button type="button" class="btn btn-cancel pull-right hide_btn" id="cancelBtn"><i class="fa fa-reply"></i> 取消</button>
        </div>
        <div class="form_wrap">
            <div class="form_wrap_group">
                <div class="form_wrap_group_title">
                    旧密码
                </div>
                <div class="form_wrap_group_content">
                    <div ctl>
                        <input type="password" class="form-control xyz_validate_input" id="old_user_pwd" name="old_user_pwd" required />
                    </div>
                </div>
            </div>
            <div class="form_wrap_group">
                <div class="form_wrap_group_title">
                    新密码
                </div>
                <div class="form_wrap_group_content">
                    <div ctl>
                        <input type="password" class="form-control xyz_validate_input" id="new_user_pwd" name="new_user_pwd" required />
                    </div>
                </div>
            </div>
            <div class="form_wrap_group">
                <div class="form_wrap_group_title">
                    确认密码
                </div>
                <div class="form_wrap_group_content">
                    <div ctl>
                        <input type="password" class="form-control xyz_validate_input" name="newPwd2" required />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
