<div class="coverlap coverlap_iframe coverlap_div xyz_coverlap {2}" tabindex="_1" id="{0}" style="z-index:{1};">
    <div class="portlet" id="coverlap_{0}">
        <div class="portlet-title">
            <div class="coverlap-header">
                <div class="top-return">
                    <a class="return-btn {4}" data-dismiss="coverlap">
                        <i class="xy-icon xy-topreturn coverlap_return_img"></i>
                        <span>返回</span>
                    </a>
					<div class="self_title">{3}</div>
                </div>
            </div>
        </div>
        <div class="portlet-body" id="body_{0}">
        </div>
    </div>
</div>