/*!
 * 系统管理自定义样式蓝色皮肤.
 *
 * Author: chenming
 * Date: 2019-01-17
 */

/**
 * 数据列表主题样式.
 */
.esys-datalist .esys-datalist-body h1 i{
    color: #3b89ff;
}
.esys-datalist .esys-datalist-body ul li:hover,
.esys-datalist .esys-datalist-body ul li.selected{
    color: #3b89ff;
}


.esys-datepicker-tablist span.current,.esys-datepicker-tablist span.current:focus,.esys-datepicker-tablist span.current:hover{
    background-color: #3b89ff !important;
}

/* tab 标签页 */
.nav-tabs > li {
    border-bottom: 1px solid #3b89ff;
}
.nav-tabs > li.active{
    top: 0;
}
.nav-tabs {
  border-bottom: 1px solid #3b89ff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    color: #3b89ff;
    border-color: #3b89ff;
    border-bottom-color: #fff;
}
/* tab 二级*/
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 2px solid #3b89ff;
}
.base_style_manage_style_v1 .tabbable-line > .nav-tabs > li.active:hover,
.base_style_manage_style_v1 .tabbable-line > .nav-tabs > li.active:hover > a{
    border-bottom: 2px solid #3b89ff;
}
.base_style_manage_style_v1 .tabbable-line > .nav-tabs > li.open,
.base_style_manage_style_v1 .tabbable-line > .nav-tabs > li:hover{
    border-bottom: 2px solid #3b89ff;
}
