@charset "UTF-8";

.btn-action-lv1 {
    background-color: #FF7300;
    border-color: #FF7300;
}

.btn-action-lv1.focus, .btn-action-lv1:focus {
    background-color: #fd921f;
    border-color: #fd921f;
}

.btn-action-lv1.active, .btn-action-lv1:active {
    background-color: #fcb13a;
    -webkit-box-shadow: inset 0 1px 3px #ff7300;
    -moz-box-shadow: inset 0 1px 3px #ff7300;
    box-shadow: inset 0 1px 3px #ff7300;
}

.btn-action-lv1:hover {
    background-color: #fd921f;
    border-color: #fd921f;
}

.btn-action-lv2 {
    background-color: #fcb13a;
    border-color: #fcb13a;
}

.btn-action-lv2.focus, .btn-action-lv2:focus {
    background-color: #fcbe58;
    border-color: #fcbe58;
}

.btn-action-lv2.active, .btn-action-lv2:active {
    background-color: #fcc772;
    -webkit-box-shadow: inset 0 1px 3px #fcb13a;
    -moz-box-shadow: inset 0 1px 3px #fcb13a;
    box-shadow: inset 0 1px 3px #fcb13a;
    outline: none;
}

.btn-action-lv2:hover {
    background-color: #fcbe58;
    border-color: #fcbe58;
}

.btn-view-lv1 {
    color: #ff7300;
    border-color: #ff7300;
}

.btn-view-lv1.focus, .btn-view-lv1:focus {
    color: #fd921f;
    border-color: #fd921f;
}

.btn-view-lv1.active, .btn-view-lv1:active {
    color: #fcb13a;
    border-color: #fcb13a;
}

.btn-view-lv1:hover, .open>.btn-view-lv1.dropdown-toggle {
    color: #fd921f;
    border-color: #fd921f;
}

.btn-er {
    color: #ff7300;
    border: 1px solid #ee7300;
}

.btn-er:hover, .btn-er:active, .btn-er.active.focus, .btn-er.focus, .btn-er:focus, .btn-er.active.focus, .btn-er.active:focus, .btn-er.active:hover, .btn-er:active.focus, .btn-er:active:focus, .btn-er:active:hover {
    color: #ff7300;
    border: 1px solid #ee7300;
}

.btn-point {
    background-color: #FF7300;
}

.mt-radio-new:hover, .mt-radio-new-checked {
    border-color: #ff7300;
}

.mt-radio-new:hover>span, .mt-radio-new>input:checked+span {
    border-top-color: #ff7300;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #ff7300;
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--bootstrap .select2-results__option[aria-selected=true] {
    color: #ff7300 !important;
    background-color: #fff !important;
}

.select2-container--open .select2-dropdown--below {
    border-top: 1px solid #ff7300 !important;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple, .select2-container--boostrap.select2-container--open.select2-container--below .select2-selection--single, .select2-container--boostrap.select2-container--open.select2-container--below .select2-selection--multiple {
    border: 1px solid #ff7300;
}

.select2-dropdown {
    border-top: 1px solid #ff7300 !important;
    border-color: #ff7300 !important;
}

.xyz_select2.xyz_custom_width .select2-results {
    border: 1px solid #ff7300;
}

.mt-checkbox>input:not([disabled]):checked~span {
    background-color: #ff7300 !important;
    border-color: #ff7300;
}

.dt-buttons>.dt-button {
    color: #FF7300;
}

div.dt-button-collection>a.dt-button:hover, div.dt-button-collection>a.dt-button:active, div.dt-button-collection>a.dt-button.active, div.dt-button-collection>a.dt-button:focus {
    background-color: #ff7300;
}

.modal .modal-title {
    border-left: 3px solid #fff;
}

.modal-footer .btn-confirm, .modal-footer .btn-save {
    border-color: #ff7300;
    background-color: #ff7300;
}

.modal-footer .btn-confirm:hover, .modal-footer .btn-confirm:active, .modal-footer .btn-save:hover, .modal-footer .btn-save:active {
    border-color: #fd921f;
    background-color: #fd921f;
}

.xyz_datatables_div .mt-checkbox>input:not([disabled]):checked~span {
    background-color: #ff7300 !important;
}

.xyz_datatables_div .pagination>.active>a, .xyz_datatables_div .pagination>.active>a:focus, .xyz_datatables_div .pagination>.active>a:hover, .xyz_datatables_div .pagination>.active>span, .xyz_datatables_div .pagination>.active>span:focus, .xyz_datatables_div .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #ff7300;
    border-color: #ff7300;
    border-radius: 5px;
    cursor: default;
}

.xyz_datatables_div .dt-buttons>.dt-button {
    color: #ff7300;
}

.xyz_datatables_div .button.dt-button:hover:not(.disabled), .xyz_datatables_div div.dt-button:hover:not(.disabled), .xyz_datatables_div a.dt-button:hover:not(.disabled) {
    color: #ff7300;
}

.dt_pageLength_select .dropdown-menu>li.active:hover>a, .dt_pageLength_select .dropdown-menu>li.active>a, .dt_pageLength_select .dropdown-menu>li:hover>a {
    background-color: #ff7300;
}

.x_s_d_table .datatable_tr_hover td {
    background: #fff9f4 !important;
}

.x_s_d_table table .datatable_tr_click td {
    background: #FBEBD7 !important;
}

.x_s_d_table .table-striped>tbody>tr.datatable_tr_hover .overflow_line_2::after, .x_s_d_table .table-striped>tbody>tr.datatable_tr_hover .overflow_line_3::after {
    background: #fff9f4 !important;
}

.x_s_d_table .table-striped>tbody>tr.datatable_tr_click .overflow_line_2::after, .x_s_d_table .table-striped>tbody>tr.datatable_tr_click .overflow_line_3::after {
    background: #FBEBD7 !important;
}

.btn-default:hover, .btn-default:focus {
    border-color: #ff7300;
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    border-color: #ff7300;
}

.bootstrap-select .btn-default:hover, .bootstrap-select .btn-default:focus, .bootstrap-select .btn-default:active, .bootstrap-select .btn-default.active {
    border-color: #ff7300;
}

.open>.dropdown-toggle.btn-default {
    border-color: #ff7300;
}

.bootstrap-select .dropdown-menu {
    border-color: #ff7300;
}

.dropdown-menu .bs-searchbox .form-control {
    border: 1px solid #ff7300;
}

.bootstrap-select .dropdown-menu>li>a:hover, .bootstrap-select .dropdown-menu>li>a:focus {
    background-color: #ff7300;
}

.dropdown-menu.inner .selected a .check-mark {
    border: 1px solid #FF7300;
    background-color: #FF7300;
}

.xyz_multiselect_div .xyz-multiselect .btn-default:hover, .xyz_multiselect_div .xyz-multiselect .btn-default:focus, .xyz_multiselect_div .xyz-multiselect .btn-default:active, .xyz_multiselect_div .xyz-multiselect .btn-default.active {
    border-color: #FF7300 !important;
}

.xyz_multiselect_div .xyz-multiselect .dropdown-menu>li>a:hover, .xyz_multiselect_div .xyz-multiselect .dropdown-menu>li>a:focus {
    background-color: #FF7300 !important;
}

.xyz_multiselect_div .xyz-multiselect .dropdown-menu.inner .selected a .check-mark {
    border: 1px solid #FF7300 !important;
    background-color: #FF7300 !important;
}

.xyz_multiselect_div.xyz_custom_width .bs-actionsbox {
    border-top: 1px solid #ff7300;
    border-left: 1px solid #ff7300;
    border-right: 1px solid #ff7300;
}

.xyz_multiselect_div.xyz_custom_width .inner.open {
    border-bottom: 1px solid #ff7300;
    border-left: 1px solid #ff7300;
    border-right: 1px solid #ff7300;
}

.xyz_bootstrap_switch .bootstrap-switch-on {
    background: #ff7300;
}

.xyz_bootstrap_switch .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .xyz_bootstrap_switch .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: #ff7300;
}

.xyz_bootstrap_switch .bootstrap-switch-on {
    background: #ff7300;
}

.xyz_bootstrap_switch .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .xyz_bootstrap_switch .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: #ff7300;
}

.coverlap .return-btn>i {
    color: #ff7300;
}

.coverlap .coverlap_return_img {
    color: #FF7300;
}

.coverlap .coverlap-title {
    border-left: 3px solid #FF7300;
}

.nav-tabs>li {
    border-bottom: 1px solid #FF7300;
}

.nav-tabs {
    border-bottom: 1px solid #FF7300;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #FF7300;
    border: 1px solid #FF7300;
    border-bottom-color: #fff;
}

.tags li {
    background-color: #FF7300;
}

.tags li:before {
    border-right-color: #FF7300;
}

.tabbable-line>.nav-tabs>li.active:hover, .tabbable-line>.nav-tabs>li.active:hover>a {
    border-bottom: 3px solid #ff7300;
}

.tabbable-line>.nav-tabs>li:hover>a, .tabbable-line>.nav-tabs>li.active>a {
    color: #ff7300;
}

.portlet-title.tabbable-line>.nav-tabs>li:hover {
    border-bottom: 2px solid #FF7300;
}

.portlet-title.tabbable-line>.nav-tabs>li.active:hover {
    border-bottom: 1px solid #FF7300;
}

.tabbable-line>.nav-tabs>li.active {
    border-color: #ff7300;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
    border-bottom: 4px solid #ff7300;
}

.second_tab>li.active>a, .second_tab>li.active>a:focus, .second_tab>li.active>a:hover {
    color: #FF7300;
    border: none;
    border-bottom-color: #ff7300;
}

.xy-element-card .xy-card-item.add .card-add {
    background-color: #ff7300;
}

.xy-element-card .xy-card-item.add .card-add:hover {
    background-color: #fd921f;
}

.xy-element-card .xy-card-item.add .card-add:active {
    background-color: #fcb13a;
}

.xy-element-card .xy-card-item:hover, .xy-element-card .xy-card-item.simple.add:hover {
    border: 1px solid #ff7300;
}

.xy-element-card .xy-card-item .xy-card-actions {
    background-color: #ff7300;
}

.xy-element-card .xy-card-item .xy-card-actions.right {
    background-color: #ff7300;
}

.xy-element-card .xy-card-item.active {
    border-color: #ff7300;
}

.xy-element-card .xy-card-item.active .xy-card-content {
    background-color: #FAA83E;
}

.xy-element-card .xy-card-item>.xy-card-title>.caption>.caption-subject {
    border-left: 3px solid #ff7300;
}

.btn-group-first, .btn-group-first.active {
    background-color: #fd921f;
}

.btn-group-last, .btn-group-last.active {
    background-color: #fd921f;
}

.btn-group-middle, .btn-group-middle.active {
    background-color: #fd921f;
}

label.btn-outline.active:hover {
    background: #fd921f;
}

.mt-element-step .step-line .done .mt-step-number {
    color: #FF7300 !important;
    border-color: #FF7300 !important;
}

.mt-element-step .step-line .done .mt-step-title:after, .mt-element-step .step-line .done .mt-step-title:b…
