
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
	color: #333;
	font-size: 14px;
	line-height: 1.42857143;
}
button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
/* login.css */
html,body{
	margin:0px;
	height:100%;
}
.system_login{
	width: 100%;
    height: 100%;
}
/*登录页主背景  开始*/
.login_container{
	width: 100%;
	height: 100%;
	background-image: url(../images/login_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
/*登录页主背景  结束*/

/*登录框  开始*/
/*登录框背景*/
.login_container .login_sign_in{
    padding: 30px;
    margin-top: 18%;
    margin-right: 6%;
    float: right;
    width: 484px;
    height: 373px;
    border-top: 7px solid #2978ff;
    background-color: #f5f5f5;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url(../images/sign_in.png);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
/*登录框标题*/
.login_container .login_sign_in .login_sign_in_title{
    font-size: 24px;
    font-family: "微软雅黑";
    font-weight: 700;
    color: #51565d;
}
.login_container .login_sign_in .login_sign_in_title span{
	font-size: 18px;
	font-weight: 400;
}
/*登录框内容*/
.login_container .login_sign_in .login_sign_in_content{
    margin-top: 0px;
}
.login_container .login_sign_in .login_sign_in_content .login_input{
	padding-left: 35px;
	width: 100%;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #e1e1e1;
}
.login_container .login_sign_in .login_sign_in_content .input_icon{
	position: relative;
    top: 32px;
    left: 8px;
    font-size: 18px;
    font-weight: bold;
}
.login_container .login_sign_in .login_sign_in_content .password{
	margin-top: -10px;
}
.login_container .login_sign_in .login_sign_in_content .system_selection{
	display: none;
	margin-top: 15px;
}
.login_container .login_sign_in .login_sign_in_content .remember_forget_password{
    margin-top: 15px;
	width: 100%;
}
.login_container .login_sign_in .login_sign_in_content .remember_forget_password .login_sign_in_remember{
	float: left;
	width: 50%;
}
.login_container .login_sign_in .login_sign_in_content .remember_forget_password .login_sign_in_forget{
    float: left;
    width: 50%;
    text-align: right;
}
.login_container .login_sign_in .login_sign_in_content .remember_forget_password .login_sign_in_forget span{
    cursor: pointer;
}
/*登录按钮*/
.login_container .login_sign_in .login_sign_in_content .btn_sign_in{
	width: 100%;
	height: 40px;
	border-radius: 4px;
	background: -webkit-linear-gradient(#4088ff, #4172fa); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#4088ff, #4172fa); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#4088ff, #4172fa); /* Firefox 3.6 - 15 */
	background: linear-gradient(#4088ff, #4172fa); /* 标准的语法 */
	color: #fff;
    font-size: 18px;
    letter-spacing: 10px;
}
.white_bg{
	background-color: #fff !important;
}
/*登录框  结束*/

@media screen and (min-width: 1024px) and (max-width: 1600px) {
	.login_container .login_sign_in{
	    margin-top: 13%;
	    margin-right: 6%;
	    float: right;
	    width: 434px;
	    height: 323px;
	}
	.login_container .login_sign_in .login_sign_in_content{
		margin-top: 0px;
	}
}
/* // login.css */

@media (max-width: 991px)
html, body {
	overflow-x: hidden;
}
.btn{
	border: 1px solid transparent;
}
.login_container .login_sign_in .login_sign_in_content .login_input::-webkit-input-placeholder {
	color: #999;
}

/* xyz-iconfont */
@font-face {
	font-family: "xy";
	src: url("../../../assets/xyz-iconfont/iconfont.eot") format("embedded-opentype"), url("../../../assets/xyz-iconfont/iconfont.woff") format("woff"), url("../../../assets/xyz-iconfont/iconfont.ttf") format("truetype"), url("../../../assets/xyz-iconfont/iconfont.svg") format("svg");
}
.xy-icon {
	font-family: "xy" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.xy-account:before {
	content: "\e660";
}
.xy-password:before {
	content: "\e600";
}
.container > div,
.container{
  height: 100%;
}

/* sweetalert theme */
.sa-confirm-button-container .confirm {
    background-color: #ff7300 !important;
}
.sa-confirm-button-container .confirm:hover {
    background-color: #fd921f !important;
}
/* sa-info */
.sweet-alert .sa-icon.sa-info {
    border-color: #44a0fd;
    background-color: #44a0fd;
}
.sweet-alert .sa-icon.sa-info::before {
    background-color: #fff;
}
.sweet-alert .sa-icon.sa-info::after {
    background-color: #fff;
}
/* sa-warning */
.sweet-alert .sa-icon.sa-warning {
    background-color: #fda111;
}
.sweet-alert .sa-icon.sa-warning {
    border-color: #fda111;
}
.sweet-alert .sa-icon.sa-warning .sa-dot {
    background-color: #fff;
}
.sweet-alert .sa-icon.sa-warning .sa-body {
    background-color: #fff;
}
@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #fda111; } }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #fda111; } }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #fff; }
  100% {
    background-color: #fff; } }

@keyframes pulseWarningIns {
  0% {
    background-color: #fff; }
  100% {
    background-color: #fff; } }
/* sa-error */
.sweet-alert .sa-icon.sa-error {
    background-color: #fe4541;
}
.sweet-alert .sa-icon.sa-error {
    border-color: #fe4541;
}
.sweet-alert .sa-icon.sa-error .sa-line {
    background-color: #fff;
    z-index: 3;
}

/* sa-success */
.sweet-alert .sa-icon.sa-success .sa-placeholder {
    background-color: #77bc11;
}
.sweet-alert .sa-icon.sa-success .sa-placeholder {
    border-color: #77bc11;
}
.sweet-alert .sa-icon.sa-success .sa-line {
    background-color: #fff;
    z-index: 3;
}
.sweet-alert .sa-icon,.sweet-alert .sa-icon.sa-success .sa-placeholder {
    border-radius: 50% !important;
}
.sweet-alert button {
    border-radius: 4px !important;
}
.sweet-alert p {
    color: #777;
    font-size: 14px;
}
