.sa-confirm-button-container .confirm {
    background-color: #ff7300 !important;
}
.sa-confirm-button-container .confirm:hover {
    background-color: #fd921f !important;
}
/* sa-info */
.sweet-alert .sa-icon.sa-info {
    border-color: #44a0fd;
    background-color: #44a0fd;
}
.sweet-alert .sa-icon.sa-info::before {
    background-color: #fff;
}
.sweet-alert .sa-icon.sa-info::after {
    background-color: #fff;
}
/* sa-warning */
.sweet-alert .sa-icon.sa-warning {
    background-color: #fda111;
}
.sweet-alert .sa-icon.sa-warning {
    border-color: #fda111;
}
.sweet-alert .sa-icon.sa-warning .sa-dot {
    background-color: #fff;
}
.sweet-alert .sa-icon.sa-warning .sa-body {
    background-color: #fff;
}
@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #fda111; } }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #fda111; } }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #fff; }
  100% {
    background-color: #fff; } }

@keyframes pulseWarningIns {
  0% {
    background-color: #fff; }
  100% {
    background-color: #fff; } }
/* sa-error */
.sweet-alert .sa-icon.sa-error {
    background-color: #fe4541;
}
.sweet-alert .sa-icon.sa-error {
    border-color: #fe4541;
}
.sweet-alert .sa-icon.sa-error .sa-line {
    background-color: #fff;
    z-index: 3;
}

/* sa-success */
.sweet-alert .sa-icon.sa-success .sa-placeholder {
    background-color: #77bc11;
}
.sweet-alert .sa-icon.sa-success .sa-placeholder {
    border-color: #77bc11;
}
.sweet-alert .sa-icon.sa-success .sa-line {
    background-color: #fff;
    z-index: 3;
}
.sweet-alert .sa-icon,.sweet-alert .sa-icon.sa-success .sa-placeholder {
    border-radius: 50% !important;
}
.sweet-alert button {
    border-radius: 4px !important;
}
.sweet-alert p {
    color: #777;
    font-size: 14px;
}
