<div class="title_btn_group">
    <h5 class="section pull-left">角色信息</h5>
</div>
<form id="depRoleForm">
    <div class="form_wrap">
        <div class="form_wrap_group">
            <div class="form_wrap_group_title paddingtop8 show_state">
                角色名称
            </div>
            <div class="form_wrap_group_content show_state">
                <div class="show_info">
                    <input class="form-control xyz_validate_input" name="role_name" required placeholder="请输入角色名称（必填），最多为15个字符" maxlength="15">
                </div>
            </div>
        </div>
        <div class="form_wrap_group">
            <div class="form_wrap_group_title paddingtop8 show_state">
                角色说明 :
            </div>
            <div class="form_wrap_group_content show_state">
                <div class="show_info">
                    <input class="form-control xyz_validate_input" name="note" maxlength="100">
                </div>
            </div>
        </div>
        <div class="form_wrap_group">
            <div class="form_wrap_group_title paddingtop8 show_state"></div>
            <div class="form_wrap_group_content show_state"></div>
        </div>
    </div>
</form>