@charset "utf-8";
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

li {
    list-style: none;
}

body {
    height: 100%;
    color: #333;
    font-size: 14px;
    line-height: 1.6;
    font-family: -apple-system-font, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", sans-serif;
}

body, span, label, p, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input {
    background-repeat: no-repeat;
    background-size: 100%;
}

a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
    -webkit-user-select: none;
}

a:active {
    color: #333;
}

a:not([href]):focus {
    outline: 0;
}

img {
    max-width: 100% !important;
    vertical-align: middle;
    border-style: none;
}

input, button, select, optgroup, textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: #fff;
    background-repeat: no-repeat;
     -webkit-user-select: none;
    border: none;
    border-radius: 0;
    outline: 0;
}

button, input {
    border-radius: 0;
    overflow: visible;
}

input[type="radio"], input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="radio"]:disabled, input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

textarea {
    overflow: auto;
    resize: vertical;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

em, h3 {
    font: inherit;
}

.modal-wrap{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  border: 1px solid  #ccc;
  background-color: #fff;
  -webkit-box-shadow: 0  0 5px #ccc;
}
.btn{
  border: none;
  border-radius: 5px;
  background-color: #03f;
  color: #fff;
  min-width: 100px;
  padding: 3px 5px;
}
/* dialog */
.dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  width: 50vw;
  height: 25vh;
  border: 1px solid  #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 0  0 5px #ccc;
  background-color: #fff;
}
.dialog .dialog-header{
  background-color: #eee !important;
  padding: 5px 10px;
}
.dialog .dialog-body{
  padding: 10px;
  height: 75%;
}
.dialog .dialog-footer .btn{
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 5px;
}
.dialog .dialog-footer.center{
  text-align: center;
}

/* 穿梭框 */
.esys-transfer-wrap .col-xs-5{
  border: 1px solid  #e1e1e1;
  min-height: 280px;
}
.esys-transfer-wrap .col-xs-1{
  text-align: center;
}
.esys-transfer-wrap .btn-transfer{
  width: 70px;
  border: 1px solid  #eee;
  padding: 5px 5px;
  border-radius: 5px;
  display: block;
  margin: 0 auto 10px;
}
.hide{
  display: none;
}
.search-input-btn{
  height: 25px !important;
  line-height: 25px !important;
  border: 1px solid  #eee !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 150px !important;
  font-size: 12px;

}
.esys-transfer-hd{
  display: block;
  background-color: #eee;
  padding: 3px;
  height: 32px;
}
.esys-datalist-wrap{
  padding: 10px;
}
.esys-datalist{
  padding: 10px 20px;
  border: 1px solid  #e1e1e1;
}
.esys-datalist .esys-datalist-body h1{
  font-size: 16px;
}
.esys-datalist .esys-datalist-body ul li{
  margin: 5px 0;
}
.esys-datalist .esys-datalist-body ul li{
  margin: 15px 0;
}
