


/* upadte by zr 2019-01-10 */


/* 密码修改 加边框居中，保存按钮居下 */

.password-form-wrap {
    width: 50%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 20px auto 0;
    display: block;
    min-height: 280px;
    padding: 10px;
}

.password-form-wrap::after {
    content: '';
    overflow: hidden;
    clear: both;
}

.form_wrap .form_wrap_group {
    margin-top: 28px !important;
    width: 88% !important;
}

.form_wrap .form_wrap_group:first-child {
    margin-top: 0 !important;
}

.title_btn_group {
    position: relative !important;
    top: 320px !important;
    left: -43% !important;
}