<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">   
<head>
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="/stylesheets/demo.css" />
</head>
<body>
<h1>更新</h1>
<div class="text-form">
    <ul>
        <li>
            <label>id</label>
            <input type="text" id="aid" th:value="${account.accountId}" disabled>
        </li>
        <li>
            <label>name</label>
            <input type="text" id="aname"  th:value="${account.accountName}">
        </li>
        <li>
            <label>balance</label>
            <input type="text" id="abalance"  th:value="${account.balance}">
        </li>
    </ul>
    <div class="btn-wrap">
        <a href="javascripts:;" class="btn" id="update">更新</a>
    </div>

</div>
<script type="text/javascript">
$(function(){
    $("#update").on("click", function () {
        // 获取表单值，并组成对象
        var accountObj = {accountId: $("#aid").val(), accountName: $("#aname").val(), balance: parseFloat($("#abalance").val())}
        $.ajax({
            type: "post",
            data: JSON.stringify(accountObj),
            url: "/account/update",
            dataType: "json",
            contentType: "application/json",
            success: function(res){
                console.log(res.accountId)
            }
        })
    })
})
</script>
</body>
</html>